@import url('https://fonts.googleapis.com/css?family=Merriweather|Muli');

html{
	font-family: "muli",Helvetica,sans-serif;
	line-height: 1.4em;
}

p{
	margin:0;
}

.wrapper{
	width:1120px;
	min-height:940px;
	margin:10px auto;
	background: #F8F8F8;
	border-radius: 16px;
}

button {
  margin:10px;
  outline:none;
  font-color: black;
	font-size: 1em;
	border-color: grey;
	font-family: "muli",Helvetica,sans-serif;
}
.scene{
	padding:50px 100px 10px 100px;
	/* background-color: grey; */
	/* margin: 50px auto; */
}

#scene-feedback{
	padding-top:10px;
}

.question-prompt{
	width: 800px;
	margin: 40px auto;
}

.question-title{
	display: flex;
  justify-content: center;
	font-size: 1.5em;
	font-weight: bold;
	color:#0F1A59;
	font-family: "Merriweather"
}

.button-wrapper{
	display:flex;
	width: 800px;
	margin: 40px auto;
	text-align: center;
	justify-content: center;
}

button{
	width: 150px;
	height: 50px;
	margin:10px 10px;
	border-radius: 8px;
	border: 2px solid grey;
  background: white;
	cursor: pointer;
}

.btn_newQ{
	width: 400px;
}

.btn_submit{
	font-weight: bold;
	color:#ffffff;
	font-family: "Merriweather";
	background-color: #0F1A59;
	border-color: #0F1A59;
}

.btn_next_question{
	margin: 50px auto 30px auto;
	text-align:center;
	display: flex;
	justify-content: center;
	font-weight: bold;
	color:#ffffff;
	font-family: "Merriweather";
	background-color: #0F1A59;
	border-color: #0F1A59;
}

.btn_disabled{
	background-color: grey;
	border-color: grey;
	cursor: default;
}

.feedback{
	margin: 10px auto;
	text-align: center;
	/* display: flex;
	justify-content: center; */
}

.game-system{
	margin: 0 auto;
	display: flex;
	justify-content: center;
	color: #0F1A59;
}

.option-wrapper{
	width: 800px;
	min-height: 50px;
	margin:10px auto;
	border-radius: 8px;
	display: flex;
  border: 2px solid #D8D8D8;
  background: white;
  cursor: pointer;
	/* text-align: center; */
	/* justify-content: center; */
	padding: 10px 20px;
  /* vertical-align: middle; */
	/* flex-direction: column; */
	align-items: center;
  /* width: 740px; */
  /* height: auto; */
}

.option-letter{
	margin-right:10px;
	display: flex inline-block;
}
.option {
  margin:10px;
	display: flex inline-block;
	/* flex-direction: column;
  align-items: center; */
}

.disabled-button{
  cursor:default;
}

.checked{
	background-color: #D6D6D6;
	border: 2px solid;
	border-color: #0F1A59;
}

.border{
	border: 3px solid;
}

.correct-choice{
	/* background-color: green; */
	border-color: #58736B;
}

.incorrect-choice{
	/* background-color: red; */
	border-color: #D9736A;
}

.tooltip {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; /* If you want dots under the hoverable text */ */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 180px;
  background-color: white;
  color: black;
  text-align: center;
  padding: 5px 0;
  border-radius: 8px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
	padding: 10px;

}

.correctness-correct{
	font-size: 1.5em;
	font-weight: bold;
	color:#0F1A59;
	font-family: "Merriweather";
	padding-bottom: 20px;
}

.correctness-wrong{
	font-size: 1.5em;
	font-weight: bold;
	color:#0F1A59;
	font-family: "Merriweather";
	padding-bottom: 20px;
}

.cong-text{
	margin:50px auto;
	display: flex;
  justify-content: center;
	font-size: 1.5em;
	font-weight: bold;
	color:#0F1A59;
	font-family: "Merriweather"
}

.finish-text{
	/* margin: 50px auto; */
	display: flex;
  justify-content: center;
}
