button {
  margin:10px;
  outline:none;
  font-color: black;
	border-color: grey;
}

.option-wrapper{
	margin:10px;
}

.option {
  margin:10px;
	display: flex inline;
  border: 1px solid;
	border-color: grey;
 	cursor: pointer;
}

.disabled-button{
  cursor:default;
}

.checked{
	background-color: #E6E6E6;
	border: 1px solid;
}



.correct-choice{
	/* background-color: green; */
	border-color: green;
}

.incorrect-choice{
	/* background-color: red; */
	border-color: red;
}

.border{
	border: 3px solid;
}
