.checked{
	/*border-color: green;*/
	background-color: green;
}

.option {
  display: flex;
  border: 1px solid;
/*  cursor: pointer;*/
}

button {
  margin:10px;
  outline:none;
  font-color: black;
}